sudo: required

services:
  - docker

language: java
jdk: oraclejdk8

dist: trusty
sudo: required

env:
  global:
    - COMMIT=${TRAVIS_COMMIT::8}

after_success:
  - docker login -e $DOCKER_EMAIL -u $DOCKER_USER -p $DOCKER_PASS

  #TAG
  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH ; fi`

  # CONFIG SERVICE
  - export CONFIG_SERVICE=mkluska/forms-config-service
  - docker build -t $CONFIG_SERVICE:$COMMIT ./config-service
  - docker tag $CONFIG_SERVICE:$COMMIT $CONFIG_SERVICE:$TAG
  - docker push $CONFIG_SERVICE

  # SERVICE DISCOVERY
  - export DISCOVERY_SERVICE=mkluska/forms-discovery-service
  - docker build -t $DISCOVERY_SERVICE:$COMMIT ./discovery-service
  - docker tag $DISCOVERY_SERVICE:$COMMIT $DISCOVERY_SERVICE:$TAG
  - docker push $DISCOVERY_SERVICE

  # GATEWAY
  - export GATEWAY=mkluska/forms-gateway
  - docker build -t $GATEWAY:$COMMIT ./gateway
  - docker tag $GATEWAY:$COMMIT $GATEWAY:$TAG
  - docker push $GATEWAY

  # AUTH SERVICE
  - export AUTH_SERVICE=mkluska/forms-auth-service
  - docker build -t $AUTH_SERVICE:$COMMIT ./auth-service
  - docker tag $AUTH_SERVICE:$COMMIT $AUTH_SERVICE:$TAG
  - docker push $AUTH_SERVICE

  # FORM SERVICE
  - export FORM_SERVICE=mkluska/forms-form-service
  - docker build -t $FORM_SERVICE:$COMMIT ./form-service
  - docker tag $FORM_SERVICE:$COMMIT $FORM_SERVICE:$TAG
  - docker push $FORM_SERVICE

  # MONGO DB
  - export MONGO_DB=mkluska/forms-mongo
  - docker build -t $MONGO_DB:$COMMIT ./mongodb
  - docker tag $MONGO_DB:$COMMIT $MONGO_DB:$TAG
  - docker push $MONGO_DB