version: "2.1"
services:
  config-service:
    image: mkluska/forms-config-service
    restart: always
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  discovery-service:
    image: mkluska/forms-discovery-service
    restart: always
    depends_on:
      config-service:
        condition: service_healthy
    ports:
      - 8082:8080
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  gateway:
    image: mkluska/forms-gateway
    restart: always
    depends_on:
      config-service:
            condition: service_healthy
      discovery-service:
        condition: service_healthy
    ports:
      - 8080:8080
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  auth-service:
    image: mkluska/forms-auth-service
    restart: always
    environment:
      MONGODB_APPLICATION_USER: mongo
      MONGODB_APPLICATION_PASS: pass
      MONGODB_APPLICATION_DATABASE: bsc-forms
    depends_on:
      config-service:
        condition: service_healthy
      discovery-service:
        condition: service_healthy
    ports:
      - 8083:8080
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  auth-mongodb:
    image: mkluska/forms-mongo
    restart: always
    environment:
      MONGODB_APPLICATION_USER: mongo
      MONGODB_APPLICATION_PASS: pass
      MONGODB_APPLICATION_DATABASE: bsc-forms
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  form-service:
    image: mkluska/forms-form-service
    restart: always
    environment:
      MONGODB_APPLICATION_USER: mongo
      MONGODB_APPLICATION_PASS: pass
      MONGODB_APPLICATION_DATABASE: bsc-forms
    depends_on:
      config-service:
        condition: service_healthy
      discovery-service:
        condition: service_healthy
    ports:
      - 8084:8080
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  form-mongodb:
    image: mkluska/forms-mongo
    restart: always
    environment:
      MONGODB_APPLICATION_USER: mongo
      MONGODB_APPLICATION_PASS: pass
      MONGODB_APPLICATION_DATABASE: bsc-forms
    logging:
      options:
        max-size: "10m"
        max-file: "10"